{{> header}}
<section class="login-container edit-account-container pt-32 pb-10 bg-cover">
    <form action="/accountedit" method="post" 
        id="accountForm" 
        class="bg-white sign-up edit-account box-shadow-basic flex flex-col w-3/5 mx-auto shadow-2xl">
        {{> form-error-message}}
        <input required value="{{userDetails.UserName}}"type="text" name="username" placeholder="enter a username"
        class="pt-4
            block
            w-5/6
            mx-auto
            px-0.5
            border-0 border-b-2 border-gray-200
            focus:ring-0 focus:border-black
            leading-10">
        <input required value="{{userDetails.FirstName}}" type="text" name="firstname" placeholder="enter your firstname"
        class="mt-5
            block
            w-5/6
            mx-auto
            px-0.5
            border-0 border-b-2 border-gray-200
            focus:ring-0 focus:border-black
            leading-10">
        <input required value="{{userDetails.LastName}}" type="text" name="lastname" placeholder="enter your lastname"
        class="mt-5
            block
            w-5/6
            mx-auto
            px-0.5
            border-0 border-b-2 border-gray-200
            focus:ring-0 focus:border-black
            leading-10">
        <label class="mt-5 ml-16 text-gray-500 font-bold">birthday</label>
        <input required value="{{userDetails.DateOfBirth}}" type="date" name="birthday" placeholder="enter your birthday"
        class="mt-5
            block
            w-5/6
            mx-auto
            px-0.5
            border-0 border-b-2 border-gray-200
            focus:ring-0 focus:border-black
            leading-10">
        <input required value="{{userDetails.AboutMeDescription}}" type="text" name="introduce" placeholder="enter your introduction" 
        class="mt-5
            block
            w-5/6
            mx-auto
            px-0.5
            border-0 border-b-2 border-gray-200
            focus:ring-0 focus:border-black
            leading-10">
        {{> avatars}}
        <input type="hidden" value="{{userDetails.AvatarID}}">
        <input type="hidden" name="UserRoleID" value="{{userDetails.UserRoleID}}">
        <button type="submit" class="basic-btn my-8 w-5/6 mx-auto">submit</button>
    </form>
</section>
