{{> header}}
<div class="flex mt-36">
    
    {{> profile-sidebar}}
   
    <section class="shadow-2xl flex-1 ml-10 p-10 shadow-gray-300">

        {{!-- total numbers --}}
         <section class="flex mb-10 justify-center text-center font-bold text-xl">
            <div class="m-10">
                <span class="text-teal-500  text-3xl"> {{totalSubscribers}}</span>
                <p>Total number of followers</p>
            </div>
            <div class="m-10">
                <span class="text-teal-500 text-3xl"> {{totalComments}}</span>
                <p>Total number of comments</p>
            </div>
            <div class="m-10">
                <span class="text-teal-500 text-3xl"> {{totalLikes}}</span>
                <p>Total number of likes</p>
            </div>
         </section>

        {{!-- top3 articles --}}
        <section class="my-10 text-zinc-500">
        {{#if top3article}}
            <h3 class="text-2xl font-bold text-black mb-6">The top 3 most “popular” articles</h3>
            <p>popularity = Total Comments + Total Likes</p>
            <p>top1 -> top2 -> top3</p>
            <div class="flex">
                {{#each top3article}}
                <div class="shadow-xl mr-8 text-gray-800">
                    <a href="/viewarticle?articleID={{this.ArticleID}}">
                        <img src="{{this.ArticleImagePath}}" class="cover-images">
                    </a>
                    <a href="/viewarticle?articleID={{this.ArticleID}}" class="ml-6 block">
                        <h3 class="title text-xl font-bold my-4"> {{this.ArticleTitle}}</h3>
                        <p class="text-sm text-gray-500">{{this.CreatedDateTime}}</p>
                    </a>
                    <section class="analytic-date ml-6 leading-8 my-4">
                        <p>popularity: {{this.PopularityRating}}</p>
                        <p>TotalComments: {{this.TotalComments}}</p>
                        <p> TotalLikes: {{this.TotalLikes}}</p>
                        <a href="/viewarticle?articleID={{this.ArticleID}}"> Read more.</a>
                    </section>
                </div>
                {{/each}}
            </div>
        {{else}}
            <p class="text-center text-3xl font-bold">Sorry, you have no articles!</p>
        {{/if}}
        </section>

        {{!-- chart of analysis --}}
        <section class="my-10">
            <h3 class="text-2xl font-bold leading-10">A histogram chart showing daily total comments</h3>
            <h3> (x axis: date, y axis:comments)</h3>
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <script src="./js/chart.js"></script>
        </section>

    </section>
</div>