{{> header}}
<div id="following-container">
    <div id="user">
        <div id="avatar">
            <img src="{{profileavatar}}" alt="" width="100px"><br>
            <span class="user-name">{{profileusername}}</span>
        </div>
        <div>
            <a href="/following?username={{profileusername}}">Following</a><span class="following-number"> {{totalUsersSubscribedTo}}</span>
            <a href="/followers?username={{profileusername}}">Followers</a><span class="followers-number"> {{totalSubscribers}}</span>
        </div>
        <div id="introduction">
            <h3>Introduction</h3>
            <p>{{introduction}}</p>
        </div>
        <div id="birthday">
            <h3>Birthday</h3>
            <p>{{birthday}}</p>
        </div>
        {{#if isCurrentUser}}
        <div class="MyDetails">
             <h3>My Details</h3>
        </div>
        <div id="Edit-profile">
            <a href="/accountedit">Edit Profile</a>
        </div>
        <div id="Analystic-Center">
            <a href="/analytics?username={{profileusername}}">Analytics</a>
        </div>
        {{/if}}
    </div>
    <div id="following">
        {{#each allUsersSubscribedTo}}
        <div class="following-card">
            <img src="{{this.AvatarPath}}" alt="" width="100px">
            <div>
                <a href="/accountcenter?username={{this.SubscribedTo}}"><span class="user-name">{{this.SubscribedTo}}</span></a>
                <p>{{this.AboutMeDescription}}</p>
            </div>
        </div>
        {{/each}}
        
    </div>
    
</div>