{{> header}}

<div class="m-36 view-article-container">

    {{!-- article viewer --}}
    <div class="text-center py-10 px-16 shadow-lg">
        <h1 class="font-bold text-3xl block text-center mb-10">{{title}}</h1>
        <a href="/accountcenter?username={{author}}" class="flex justify-center items-center">
            <img src="{{authorAvator}}" alt="" class="w-12 rounded-full mr-4"/>
           {{author}}
        </a>
        <p class="text-gray-500 my-6">{{date}}</p>
        <img src="{{coverImagePath}}" alt="" class="cover-image mx-auto">
    
        <div class="text-lg leading-8 text-left mt-7">
            {{{content}}}
        </div>
          
        {{#if myarticle}}
        <div class="flex justify-center py-10">
            <a href="/editarticle?articleID={{articleID}}" class="basic-btn mr-4 bg-teal-500">
                Edit
            </a>
            <form action="/deletearticle?articleID={{articleID}}" method="post"
                onsubmit="return confirm('Are you sure to delete this article?');">
                <input type="submit" name="delete" value="Delete" 
                    class="basic-btn bg-red-500" />
            </form>
        </div>
        {{/if}}
    </div>

    {{!-- comments list --}}
    <div class="shadow-2xl shadow-gray-500 mt-5 pb-10">
        <h3 class="font-bold p-10 text-gray-600">Commments</h3>

        <form action="/newcomment?articleID={{articleID}}" method="post">
            <textarea type="textarea" name="commentContent" 
                class="
                w-5/6
                mx-auto
                block
                rounded-md	
                border-b-2 border-gray-300
                focus:ring-0 focus:border-gray-400
                leading-10 resize-none" 
                style="min-height: 100px;max-height: 240px;"
                placeholder="Add your comments here!"></textarea>
            <button type="submit" class="block basic-btn w-1/5 mt-5 mx-auto">
                POST
            </button>
        </form>

        {{#if commentsToShow.length}}
        
        <button id="show-comment" 
            class="text-lg font-bold ml-10 mt-6 text-zinc-600"> 
            ▼ Show comments 
        </button>
        
        <ul class="comments-list hidden">
        {{#each commentsToShow}}
            {{> comment}}
            {{#if this.children}}
                <ul>
                    {{#each this.children}} 
                        {{> comment}}
                        {{#if this.children}}
                        <ul>
                            {{#each this.children}}
                                {{> comment}}
                            {{/each}}
                            </ul>
                        {{/if}}
                    {{/each}}
                </ul>
            {{/if}}
        {{/each}}
        </ul>
    {{/if}}
<script src="./js/viewarticle.js"></script>