<li class="shadow-lg">
    <div class="flex px-10 pt-10">
        <img src="{{AvatarPath}}" class="avatar rounded-full w-10 mr-6">
        <div class="text-sm text-gray-400">
            <a href="#">{{CommentedByID}}</a>
            <p class="comment-time"> {{CreatedDateTime}}</p>
        </div>
    </div>
    <div class="flex justify-between px-6 pb-5" style="user-select: none;"
        id="outerDiv-{{CommentID}}">
        <blockquote class="pl-20" id="commentID-{{CommentID}}">
            <span>{{CommentContext}}</span>
            <a class="font-bold reply-button cursor-pointer ml-10">REPLY</a>
        </blockquote>

        {{#if this.mycomment}}
        <div class="text-white text-xs flex" id="innerDiv-{{CommentID}}">
            <button class="basic-btn bg-teal-500 mr-6 w-8 h-8 flex justify-center"
                onClick="buttonClicked(event, {{ArticleID}})"
                id="editButton-{{CommentID}}">
                EDIT
            </button>
            {{> comment-delete}}
        </div>

        {{else if myarticle}}
        {{> comment-delete}}
        {{/if}}

    </div>
    <form action="/newreply?articleID={{ArticleID}}&replyToID={{CommentID}}" method="post"
        class="hidden items-center justify-end pb-5 reply-comment">
        <input type="text" name="replyContent" id="replyContent" 
            class="w-3/5
                block
                rounded-sm
                border-b-2 border-gray-300
                focus:ring-0 focus:border-gray-400" 
            placeholder="1 Add a reply...">
        <button type="submit"  
            class="w-8 h-8 ml-5 mr-5 text-xs flex justify-center items-center basic-btn">
            POST
        </button>
    </form>
</li>

<script>
    window.addEventListener('load', function() {

        // show or hide comments list
        const showMoreBtn = document.querySelector('#show-comment');
        const list = document.querySelector('.comments-list');
        showMoreBtn.onclick = function() {
            if (list.classList.contains('hidden')) {
                list.classList.remove('hidden');
            } else {
                list.classList.add('hidden');
            }
        };

        // show or hide reply inputs
        const replys = document.querySelectorAll('.reply-button');
        for(let i = 0; i < replys.length; i++) {
            replys[i].onclick = function() {
                const root = this.parentElement.parentElement.parentElement;
                const replyInput = root.querySelector('.reply-comment');
                if (replyInput.classList.contains('hidden')) {
                    replyInput.classList.remove('hidden');
                    replyInput.classList.add('flex');
                } else {
                    replyInput.classList.add('hidden');
                    replyInput.classList.remove('flex');
                }
            };
        }
    })
</script>