<nav class="header-nav-container">
    <h3 class="navbar-brand">
        <img src="/images/logo.png" width="60">
        <span>The Blog of Nature Protection</span> 
    </h3>
    <div class="user-info-container">
        <a href="/">Home</a>
        {{!-- has login --}}
        {{#if isLogin}}
        <section class="messages-container">
            <div class="messages-imager">
              <img src="/images/notification.jpg" width="30" height="30" id="messages-btn">
              <span class="messages-count"></span>
            </div>
            <ul class="messages-list list-unstyled">
                
            </ul>
        </section>
        <section class="avatar-container" id="avatar">
            <img src="{{avatar}}">
            <ul class="user-info-list">
                <li><a href="/accountcenter?username={{username}}" id="theusername">{{username}}</a></li>
                <li><a href="/newarticle">New Article</a></li>
                <li><a href="/accountedit">Edit Account</a> </li>
                <li class="delete-account"><a>Delete Account</a> </li>
                <li><a href="/passwordedit">Edit Password</a> </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </section>
        {{else}}
        {{!-- not login --}}
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        {{/if}}
    </div>
    <input type="hidden" id="hidden-username" value="{{username}}">
</nav>
<!-- Modal -->
<section class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Are you sure to delete your own account?
        </h5>
      </div>
      <div class="modal-body">
           Meanwhile, your articles, comments and likes will all be removed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary ok">Yes</button>
      </div>
    </div>
  </div>
</section>